@tailwind base;
@tailwind components;
@tailwind utilities;


.button__badge {
  position: absolute;
  bottom: 0;
  right: 9px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px
}
.avatar-wrapper {
  position: relative;
}
.avatar-parent {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

    clip-path: polygon(0% 50%, 15% 85%, 50% 100%, 85% 85%, 100% 50%, 85% 15%, 50% 0%, 15% 15%); 
    transition: clip-path 300ms ease;
}

.avatar {

    display: block;	
    clip-path: polygon(0% 50%, 15% 85%, 50% 100%, 85% 85%, 100% 50%, 85% 15%, 50% 0%, 15% 15%); 
    transition: clip-path 300ms ease;
}

code {
    padding: .5em;
    background-color: lightgrey;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fit {
  min-height: calc(100vh - 28px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
